
.card-container {
  position: absolute;
  height: 700px;
  width: 100%;
  top: 60px;
  display: flex;

  .card {
    display: flex;
    height: 600px;
    width: 300px;
    background-color: #181818;
    border-radius: 10px;
    transition: 0.4s ease-out;
    border: 1px solid #fff;
    position: relative;
    left: 0;

    & > img {
      opacity: 0.8;
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 10px;
    }

    box-shadow: inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  }

  .card:not(:first-child) {
    margin-left: -50px;
  }

  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }

  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
}
