.honeycomb-container {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-column-gap: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 50px;
  width: 1040px;
  position: relative;
  margin-right: auto;
}

.honeycomb-item {
  grid-column: span 2;
  width: 200px;
  padding: 0 0 231px 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
  margin-top: -50px;
}

.honeycomb-item:nth-child(9n+1) {
  grid-column-start: 1;
}

.honeycomb-item:nth-child(9n+2) {
  grid-column-start: 3;
}

.honeycomb-item:nth-child(9n+3) {
  grid-column-start: 5;
}

.honeycomb-item:nth-child(9n+4) {
  grid-column-start: 7;
}

.honeycomb-item:nth-child(9n+5) {
  grid-column-start: 9;
}

.honeycomb-item:nth-child(9n+6) {
  grid-column-start: 2;
}

.honeycomb-item:nth-child(9n+7) {
  grid-column-start: 4;
}

.honeycomb-item:nth-child(9n+8) {
  grid-column-start: 6;
}

.honeycomb-item:nth-child(9n) {
  grid-column-start: 8;
}

.hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-180deg, white, #e1e1e1);
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  object-fit: contain;
}

.honeycomb-item * {
  visibility: visible
}

/**** Responsive wizardry ****/

@media(max-width: 1100px) {
  .honeycomb-container {
    grid-template-columns: repeat(8, 100px);
    width: 830px
  }
  .honeycomb-item:nth-child(7n+1) {
    grid-column-start: 1;
  }
  .honeycomb-item:nth-child(7n+2) {
    grid-column-start: 3;
  }
  .honeycomb-item:nth-child(7n+3) {
    grid-column-start: 5;
  }
  .honeycomb-item:nth-child(7n+4) {
    grid-column-start: 7;
  }
  .honeycomb-item:nth-child(7n+5) {
    grid-column-start: 2;
  }
  .honeycomb-item:nth-child(7n+6) {
    grid-column-start: 4;
  }
  .honeycomb-item:nth-child(7n) {
    grid-column-start: 6;
  }
}

@media(max-width: 850px) {
  .honeycomb-container {
    grid-template-columns: repeat(6, 100px);
    width: 620px
  }
  .honeycomb-item:nth-child(5n+1) {
    grid-column-start: 1;
  }
  .honeycomb-item:nth-child(5n+2) {
    grid-column-start: 3;
  }
  .honeycomb-item:nth-child(5n+3) {
    grid-column-start: 5;
  }
  .honeycomb-item:nth-child(5n+4) {
    grid-column-start: 2;
  }
  .honeycomb-item:nth-child(5n) {
    grid-column-start: 4;
  }
}

@media(max-width: 720px) {
  .honeycomb-container {
    grid-template-columns: repeat(4, 100px);
    width: 410px;
  }
  .honeycomb-item:nth-child(3n+1) {
    grid-column-start: 1;
  }
  .honeycomb-item:nth-child(3n+2) {
    grid-column-start: 3;
  }
  .honeycomb-item:nth-child(3n) {
    grid-column-start: 2;
  }
}
