@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

@import "clear-style";
@import "variables";
// @import "bootstrap";

@import "honeycomb";
@import "card";

html {
  font-family: $font-family;
  margin: 0 auto;
  background-color: #f9f9f9;
}

h1 {
  color: #000;
  font-size: 6rem;
  text-shadow: 3px 2px 3px rgba(255, 255, 255, 0.2);
  margin: 0;
  position: relative;
  top: 75px;
}

h3 {
}

header {
  display: flex;

  width: 100%;
  height: 100vh;
  background-image: $header-img;
  background-position: center;
  background-size: cover;

  position: relative;
  align-items: center;
  justify-content: center;

  .particles-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

footer {
  width: 100%;
  height: 100px;
  background-color: #181818;
}

main {
  .about-us {
    display: flex;
    flex-direction: row;
    min-height: 500px;

    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      flex: 2 1 1400px;
      margin: 40px 0;
    }

    &__border {
      position: absolute;
      top: 30px;
      bottom: 30px;
      left: 30px;
      right: 30px;
      border: 1px solid #e1e1e1;

    }

    &__text {
      background-color: #fff;
      flex: 1 2 900px;
      padding: 60px;
    }

    &__icon {
      background-image: $about-us-img;
      background-repeat: no-repeat;
      background-position: center;
      filter: grayscale(1);
      flex: 2 1 500px;
      opacity: 0.6;

    }
  }

  .featured-work {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    background-color: #181818;

    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      flex: 2 1 1400px;
      margin: 40px 0;
      background-color: #222222;
    }
  }

  .projects {
    display: flex;
    flex-direction: row;
    min-height: 500px;


    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      flex: 2 1 1400px;
      margin: 40px 0;
    }
  }

  .team {
    display: flex;
    flex-direction: row;
    min-height: 700px;


    &__content {
      display: flex;
      justify-content: space-between;
      position: relative;
      flex: 2 1 1400px;
    }
  }

  .section-number {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1 2 400px;

    &.inverse {
      .section-number__block {
        border: 1px solid #706868;
      }

      .section-number__number {
        color: #706868;
      }

      .section-number__text {
        background-color: #181818;
        color: #fcfcfc;
      }
    }

    &.left {
      justify-content: flex-start;

      .section-number__block {
        border-left: none;
      }
    }


    &.right {
      justify-content: flex-end;

      .section-number__block {
        border-right: none;
      }
    }

    &__block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 300px;
      border: 1px solid #e1e1e1;
      box-sizing: content-box;
      border-radius: 2px;
    }

    &__number {
      font-size: 15rem;
      font-weight: bold;
      color: #e1e1e1;
      text-align: center;
    }

    &__text {
      position: absolute;
      width: 300px;
      background-color: #f9f9f9;
      font-size: 2rem;
      font-weight: bold;
      padding: 10px 0;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
